<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/karuizawa.jpg" alt="Karuizawa" class="img-thumbnail
            rounded-circle" width="200"/>
            <h1 class="display-4">Reynaldy Marchell</h1>
            <p class="lead">Computer Science Student | Investor</p>
        </div>
    </div>
</div>